<div class="jumbotron">
  <div class="container">
    <h1>Share your videos here</h1>
    <p>click button to share your youtube video</p>
    <p>
      <%= link_to 'Add Video', new_video_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>  
</div>

<% if @videos.any? %>
  <div class="container">
    <h1>Latest videos</h1>
 
    <div id="player-wrapper"></div>
 
    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">
                <%= image_tag "https://img.youtube.com/vi/#{video.uid}/hqdefault.jpg", alt: video.title,
                              class: 'yt_preview img-rounded', :"data-uid" => video.uid %>
 
                <div class="caption">
                  <h5><%= video.title %></h5>
                  <p>Author: <b><%= video.author %></b></p>
                  <p>Duration: <b><%= video.duration %></b></p>
                  <p>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>




<!-- 

<% if @videos.any? %>
  <div class="container">
    <% @videos.each do |video| %>
      <iframe class="player" type="text/html" width="100" height="100" src="https://www.youtube.com/embed/<%=video.uid%>?autoplay=0">
      </iframe>
    <% end %>
  </div>
<% end %>
 -->








